<div class="modal fade" id="moneyModal" tabindex="-1" aria-labelledby="moneyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="moneyModalLabel" th:text="#{title.text.moneyModal}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="amountInput" class="form-label" th:text="#{label.modal.amount}"></label>
                        <input type="text" class="form-control" id="amountInput" placeholder="Saisir la somme">
                    </div>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" th:text="#{button.text.send}">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>