<html lang="" xmlns:th="http://www.thymeleaf.org">
<div class="modal fade" id="transferToBank" tabindex="-1" aria-labelledby="transferToBankLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transferToBankLabel" th:text="#{modal.title.transferToBank}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="transferToBankForm" th:action="@{/transferToBank}"  method="post">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                    <div class="mb-3">
                        <label for="amount" class="form-label"></label>
                        <input type="number" class="form-control" id="amount" name="amount" placeholder="0€" required>
                    </div>

                    <button type="submit" class="btn btn-primary" th:text="#{modal.title.send}"></button>
                </form>
            </div>
        </div>
    </div>
</div>
</html>