<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{label.form.title}">Form</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</head>
<body>
<div th:if="${registrationErrorUserAlreadyExist}" class="alert alert-danger">
    <p th:text="#{error.register.alreadyExist}"></p>
</div>

<h1 th:text="#{label.form.title}">Form</h1>
<form action="/registration" th:object="${user}" method="POST" enctype="multipart/form-data">
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}" />

    <div>
        <label th:text="#{label.user.firstName}" for="firstName">First Name</label>
        <input id="firstName" th:field="*{firstName}" th:placeholder="#{placeholder.firstName}" type="text"/>
        <p th:each="error : ${#fields.errors('firstName')}" th:text="${error}">Validation error</p>
    </div>

    <div>
        <label th:text="#{label.user.lastName}" for="lastName">Last Name</label>
        <input id="lastName" th:field="*{lastName}" th:placeholder="#{placeholder.lastName}" type="text"/>
        <p th:each="error : ${#fields.errors('lastName')}" th:text="${error}">Validation error</p>
    </div>

    <div>
        <label th:text="#{label.user.email}" for="email">Email</label>
        <input id="email" th:field="*{email}" type="email"/>
        <p th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation error</p>
    </div>

    <div>
        <label th:text="#{label.user.password}" for="password">Password</label>
        <input id="password" th:field="*{password}" type="password"/>
        <p th:each="error : ${#fields.errors('password')}" th:text="${error}">Validation error</p>
    </div>

    <div>
        <label th:text="#{label.user.confirmPass}" for="confirmPassword">Confirm Password</label>
        <input id="confirmPassword" th:field="*{matchingPwd}" type="password"/>
    </div>

    <button type="submit" th:text="#{label.form.submit}">Submit</button>
</form>

<a th:href="@{/login.html}" th:text="#{label.form.loginLink}">Login</a>
</body>
</html>
